.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
}

.app-title {
  color: #333;
}


.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipe-card {
  background-color: #e38989;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}


.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.input-field, .textarea-field {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}
